-if @follows.present?
  - @follows.each do |follow|
    .post__card
      =link_to user_path(follow.user_id), class:"post__card__picture__link" do
        .picture
          = image_tag follow.user.profile.image, class: "post__user__image"
      =link_to post_path(follow.id), class:"post__card__contents" do
        .post__contents
          .post__contents__name.element
            = follow.user.nickname
          .post__card__content__grade.element
            = follow.grade
          .post__card__content__subject.element
            = follow.subject
        .post__title
          = follow.title
        .post__under
          .post__status
            .follow.icon
              フォロワー
            .follow.count
              = follow.user.followers.length
            .like.icon
              = icon("fas", "heart")
            .like.count
              = follow.likes.length
            .favorite.icon
              = icon("fas", "star")
            .favorite.count
              = follow.favorites.length
            .comment.icon
              = icon("fas", "comment")
            .comment.count
              = follow.comments.length

          .post__created
            = follow.created_at.strftime("%Y-%m-%d %H:%M")
-else
  = image_tag "notshing1.png", class: "post-nothing"
  .post-nothing-text
    該当する投稿がありません。