.main__wrapper
  .search
    =form_tag "/posts/search", method: :get do
      = search_field :search, class:"search__area"
      = submit_tag "検索", class:"search__btn"

  .main__wrapper__tab
    %ul.tabs
      %li.tab.active
        ストック(全て)
      %li.tab
        フォロー
      %li.tab
        いいね
      %li.tab
        お気に入り

  %ul.main__wrapper__contents
    %li.content__index.content__ajax.show__index
      = render "index_main_index"
    %li.content__index
      = render "index_follow_index"
    %li.content__index
      = render "index_like_index"
    %li.content__index
      = render "index_favorite_index"